@charset "utf-8";
/*https://fonts.google.com/specimen/JetBrains+Mono*/
@font-face {
    font-family: 'jetbrains_monoregular', sans-serif;
    src: url('../fonts/JetBrains_Mono/static/JetBrainsMono-Regular.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
    font-display: swap
}

body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #fefdff;
    font-family: 'jetbrains_monoregular', sans-serif !important;
    color: #000 !important;
}

h1, h2, h3, h4, h5, h6 {font-family: 'jetbrains_monoregular', sans-serif;}

#intro {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 88vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

#intro h1.text-hero {font-size: 400px !important; margin-bottom: -20pt; margin-top: -100pt;}
#intro h3 {font-size: 1.83rem !important; line-height: 1.4;}

/*
Breakpoints - https://www.w3schools.com/css/css_rwd_mediaqueries.asp
*/
@media only screen and (max-width: 1440px) {
    #intro h1.text-hero {
        font-size: 350px !important;
    }
}

@media only screen and (max-width: 1280px) {
    #intro h1.text-hero {
        font-size: 310px !important;
    }
}

@media only screen and (max-width: 1024px) {
    #awwwards { display: none; }
    .hover-container { position: absolute; left: 0%;  top: 0%; right: 0%; bottom: 0%; height: 80%; }
    h1.large { font-size: 52pt; }
    .content--alternate .content__item { margin: 0 auto;}
    .logo { left: 50px; } .hamburger { right: 50px !important; }
    .pad-mobile { margin-bottom: 20vh !important; }
    .content__item { margin-bottom: 0vh; }
    .content__item-imgwrap-medium { height: 40px !important;}
    .pad-top { top: 170px }
    #intro h1.text-hero{font-size:250px!important;margin-top:-50pt;}
    #intro h3 {font-size:1.75rem!important}
}

@media only screen and (max-width: 800px) {
    #intro { height: 88vh; }
    body { font-size: 0.82rem !important; }
    #site-nav { width: 120px !important; top: 83px !important; }
    #site-nav h4 { font-size: 18px; }
    h2.small { font-size: 32pt !important; }
    span.meta { padding: 0.5em !important; }
    .content__item-title { font-size: 36pt !important; padding: 0 1vh !important; }
    .hamburger-box { top: 35px !important; }
    .logo { top: 29px !important; }
    .content--alternate .content__item { max-width: 100vw; }
    .pad-mobile { margin-bottom: 10vh !important; }
    .gallery { margin-top: -10em !important; }
    #intro h1.text-hero{font-size:220px!important;}
    .content__item-imgwrap-portrait {height: 420px !important;}
}

@media only screen and (max-width: 480px) {
    #footer .offset-logo { margin-top:4em;margin-bottom:3.5em!important;} #footer .offset-logo img {width:120px;}
    .pace { width: 200px !important;}
    .hide-mobile { display: none; }
    .logo { left: 30px; } .hamburger { right: 30px !important; }
    #intro { height: 73vh !important; }
    #intro h1 { font-size: 2.4rem!important;}
    #contact, #footer { text-align: center !important; }
    #contact { margin-top: -3em !important; }
    #site-nav { top: 100px; position: relative; float: right; width: 150px;  }
    h1.medium { font-size: 38pt; }
    .grid-main { padding: 0; }
    .txt-right { text-align:center;}
    .content__item-pad { padding: 6rem 0 0 0 !important; }
    .content__item-title { margin: calc(60pt * -9/2) 0 0 0; }
    .title-adj { margin: calc(60pt * -1/2) 0 0 0 !important; }
    .content__item-imgwrap-medium { height: 200px !important; }
    ion-icon { font-size: 18px !important; }
    .p-t-xs { padding-top: 1em; } .p-t-md { padding-top: 3em; }
    .pad-mobile { margin-bottom: 12vh !important; }
    .meta-container { margin: 20px 10px 20px 0 !important; }
    .content__item-imgwrap-portrait { margin-bottom: 1.5em !important; }
    .content__item--expand .content__item-description, .content__item--expand:nth-child(2n) .content__item-description, .content__item--wide .content__item-description, .content__item--wide:nth-child(2n) .content__item-description { padding: 4em 0 !important; }
    .p-t-about { top: 170px }
    .p-b-card { margin-top: 0 !important; }
    .pad-mobile-md { margin-bottom: 6vh !important; }
    .download-cv { margin-bottom: 2em; }
    #intro h1.text-hero{font-size:120px!important;margin-bottom:0pt;margin-top:0pt;}
}

@media only screen and (max-width: 360px) {
    #intro h1.text-hero{font-size:80px!important;}
}

/* Animation section ------------------------------------------------------------------------------------------------ */
/*
Wave hand animation
*/
span.wave {
    margin-right: 3px;
    animation-name: wave-animation;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    transform-origin: 70% 70%;
    display: inline-block
}

@keyframes wave-animation {
    0% {transform: rotate(0)}
    10% {transform: rotate(-10deg)}
    20% {transform: rotate(12deg)}
    30% {transform: rotate(-10deg)}
    40% {transform: rotate(9deg)}
    50% {transform: rotate(0)}
    100% {transform: rotate(0)}
}
