@charset "utf-8";
/*
Notes:
Font source: https://www.jetbrains.com/lp/mono/
More about @font-face https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face

em - relative unit, depending on the letter 'M' size of the current font.
vw - 1vw = 1/100 of the browser window width
vh - 1vh = 1/100 of the browser window height
:nth-child(even) - belongs to the even elements in current container
outline - a line drawn outside the element's border
justify-self - property sets the way a box is justified inside its alignment container along the appropriate axis
overflow - property specifies what should happen if content overflows an element's box.

position:
-static - element is positioned according to the normal flow of the document
-relative - element is positioned according to the normal flow of the document, and then offset relative to itself
based on the values of top, right, bottom, and left
-absolute - element is not taking place in the list of other elements, but located according to configured offset relatively to web page
-fixed - element is not taking place in the list of other elements, but located according to configured offset relatively to browser window
*/
@font-face {
    font-family: "JetBrains Mono";
    src: url('../fonts/jetbrains_mono/JetBrainsMono-Regular.woff2') format('woff2'),
    url("../fonts/jetbrains_mono/JetBrainsMono-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "JetBrains Mono Bold";
    src: url('../fonts/jetbrains_mono/JetBrainsMono-Bold.woff2') format('woff2'),
    url("../fonts/jetbrains_mono/JetBrainsMono-Bold.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #fefdff;
    font-family: "JetBrains Mono", sans-serif !important;
    color: #000 !important;
}

h1, h2, h3, h4, h5, h6 {font-family: "JetBrains Mono", sans-serif !important;}

#header {
    height: 12vh;
}
#intro {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 82vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}
#intro h1.text-hero {font-size: 450px !important; margin-bottom: -20pt; margin-top: -100pt}
#intro h3 {font-size: 1.85rem !important; line-height: 1}

#header-label {font-size: 1.2rem; text-align: left; padding-top: 10px; padding-bottom: 10px;}
#header-label a {color: black; text-decoration: none;}
#footer-label a {color: black; text-decoration: none;}
#header-contact {text-align: right;}

#footer-contact {text-align: left;}
#footer-label {text-align: center; padding-top: 5px;}
#rights-reserved {text-align: right; padding-top: 10px;}

.contact img {padding-left: 10px; padding-top: 10px; padding-bottom: 10px; width: 60px;}
.contact a{text-decoration:none;}

.figures {font-family: "JetBrains Mono Bold", sans-serif !important; font-size: 1.3rem;}

.highlight {font-family: "JetBrains Mono Bold", sans-serif !important;}

.version {font-size: 0.8rem; position: relative; top: -2vw !important; left: 2vw !important;}

/* 'primary' container styles BEGIN */
#primary {background-color:#000; color:#fff; margin-top:2em; margin-bottom:2em; padding-top:4em; padding-bottom:4em}
#primary a{color:#fff !important}
#primary a:hover{text-decoration:none}

.content-item {margin-bottom: 5vh;}
.content-item-topic {padding: 0; opacity: 0.15; font-size: 10vw;  position: relative; /*top: -4vw; left: -2vw;*/ line-height: 1;}
.content-item:nth-child(even) .content-item-topic {/*top: -4vw; right: -2vw; left: auto;*/ text-align: right}
.content-item-img img {width: 100%; opacity: 1; border-radius: 0.7%;}
/* 'primary' container styles END */

/*
Breakpoints - https://www.w3schools.com/css/css_rwd_mediaqueries.asp
*/
@media only screen and (max-width: 1440px) {
    #intro h1.text-hero {font-size: 400px !important;}
}

@media only screen and (max-width: 1280px) {
    #intro h1.text-hero {font-size: 310px !important;}
    .content-item:nth-child(even) .content-item-topic {top: -2vw !important; right: -2vw !important;}
}

@media only screen and (max-width: 1024px) {
    #intro h1.text-hero{font-size: 270px !important; margin-top: -50pt;}
    #intro h3 {font-size: 1.5rem!important}
    #contact img {padding-left: 8px;}
    .content-item {margin-bottom: 0;}
    /*
    .content-item-topic {top: -2vw !important; left: 0 !important;}
    .content-item:nth-child(even) .content-item-topic {top: 0 !important; right: 0 !important;}
    */
}

@media only screen and (max-width: 800px) {
    body {font-size: 0.9rem !important;}
    .figures {font-size: 1rem !important;}
    #intro { height: 88vh; }
    #intro h1.text-hero{font-size: 160px !important;}
    #footer-contact {text-align: center !important;}
    #rights-reserved {text-align: center !important;}
    #contact img {padding-left: 5px; padding-right: 5px;}
    #header-label {text-align: left !important;}
    /*
    .content-item-topic {top: -3vw !important; left: 0 !important;}
    .content-item:nth-child(even) .content-item-topic {top: -2vw !important; right: -2vw !important;}
    */
}

@media only screen and (max-width: 600px) {
    #intro h1.text-hero{font-size: 130px !important;}
    #intro h3 {font-size: 1.3rem !important; line-height: 1}
    #rights-reserved {text-align: center !important;}
    .contact {text-align: center !important; padding-bottom: 5px;}
    #contact img {padding-left: 5px;}
    #header-label {text-align: center !important; padding-bottom: 0 !important; padding-top: 0 !important;}
    .version {top: -5vw !important; left: 4vw !important;}
}

/* Animation section ------------------------------------------------------------------------------------------------ */
/* Wave hand animation BEGIN */
span.wave {
    margin-right: 3px;
    animation-name: wave-animation;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    transform-origin: 70% 70%;
    display: inline-block
}

@keyframes wave-animation {
    0% {transform: rotate(0)}
    10% {transform: rotate(-10deg)}
    20% {transform: rotate(12deg)}
    30% {transform: rotate(-10deg)}
    40% {transform: rotate(9deg)}
    50% {transform: rotate(0)}
    100% {transform: rotate(0)}
}
/* Wave hand animation END */