@charset "utf-8";
/*
Notes:
Font source: https://www.jetbrains.com/lp/mono/
More about @font-face https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face

em - relative unit, depending on the letter 'M' size of the current font.
vw - 1vw = 1/100 of the browser window width
vh - 1vh = 1/100 of the browser window height
:nth-child(even) - belongs to the even elements in current container
outline - a line drawn outside the element's border
justify-self - property sets the way a box is justified inside its alignment container along the appropriate axis
overflow - property specifies what should happen if content overflows an element's box.

position:
-static - element is positioned according to the normal flow of the document
-relative - element is positioned according to the normal flow of the document, and then offset relative to itself based on the values of top, right, bottom, and left
-absolute - element is not taking place in the list of other elements, but located according to configured offset relatively to web page
-fixed - element is not taking place in the list of other elements, but located according to configured offset relatively to browser window
*/
@font-face {
    font-family: "JetBrains Mono";
    src: url('../fonts/jetbrains_mono/JetBrainsMono-Regular.woff2') format('woff2'),
    url("../fonts/jetbrains_mono/JetBrainsMono-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #fefdff;
    font-family: "JetBrains Mono", sans-serif !important;
    color: #000 !important;
}

h1, h2, h3, h4, h5, h6 {font-family: "JetBrains Mono", sans-serif !important;}

#intro {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 88vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}
#intro h1.text-hero {font-size: 450px !important; margin-bottom: -20pt; margin-top: -100pt}
#intro h3 {font-size: 1.6rem !important; line-height: 1.2}
#contact{margin-top:0}
.line:before {content: "— ";}

/*
Breakpoints - https://www.w3schools.com/css/css_rwd_mediaqueries.asp
*/
@media only screen and (max-width: 1440px) {
    #intro h1.text-hero {
        font-size: 400px !important;
    }
}

@media only screen and (max-width: 1280px) {
    #intro h1.text-hero {
        font-size: 300px !important;
    }
    .content-item-topic {top: -5vw !important; left: -2vw !important;}
    .content-item:nth-child(even) .content-item-topic {top: -5vw !important; right: -5vw !important;}
}

@media only screen and (max-width: 1024px) {
    .hover-container { position: absolute; left: 0%;  top: 0%; right: 0%; bottom: 0%; height: 80%; }
    h1.large { font-size: 52pt; }
    .content--alternate .content-item {margin: 0 auto}
    .logo { left: 50px; } .hamburger { right: 50px !important; }
    .pad-mobile { margin-bottom: 20vh !important; }
    .content-item { margin-bottom: 0vh; }
    .content-item-img-wrap-medium { height: 40px !important;}
    .pad-top { top: 170px }
    #intro h1.text-hero{font-size: 250px !important; margin-top: -50pt;}
    #intro h3 {font-size:1.75rem!important}
    .content-item-topic {top: -5vw !important; left: -5vw !important;}
    .content-item:nth-child(even) .content-item-topic {top: -5vw !important; right: -5vw !important;}
}

@media only screen and (max-width: 800px) {
    #intro { height: 88vh; }
    body { font-size: 0.82rem !important; }
    #site-nav { width: 120px !important; top: 83px !important; }
    #site-nav h4 { font-size: 18px; }
    h2.small { font-size: 32pt !important; }
    span.meta { padding: 0.5em !important; }
    .content__item-title { font-size: 36pt !important; padding: 0 1vh !important; }
    .hamburger-box { top: 35px !important; }
    .logo { top: 29px !important; }
    .content--alternate .content-item {max-width: 100vw}
    .pad-mobile { margin-bottom: 10vh !important; }
    .gallery { margin-top: -10em !important; }
    #intro h1.text-hero{font-size: 190px !important;}
    .content-item-topic {top: -5vw !important; left: -5vw !important;}
    .content-item:nth-child(even) .content-item-topic {top: -5vw !important; right: -5vw !important;}
    #footer-left {text-align: center !important;}
    #footer-right {text-align: center !important;}
}

@media only screen and (max-width: 480px) {
    #footer .offset-logo { margin-top:4em;margin-bottom:3.5em!important;} #footer .offset-logo img {width:120px;}
    .pace { width: 200px !important;}
    .hide-mobile { display: none; }
    .logo { left: 30px; } .hamburger { right: 30px !important; }
    #intro { height: 73vh !important; }
    #intro h1 { font-size: 2.4rem!important;}
    #contact, #footer { text-align: center !important; }
    #contact { margin-top: -3em !important; }
    #site-nav { top: 100px; position: relative; float: right; width: 150px;  }
    h1.medium { font-size: 38pt; }
    .grid-main { padding: 0; }
    .txt-right { text-align:center;}
    .title-adj { margin: calc(60pt * -1/2) 0 0 0 !important; }
    ion-icon { font-size: 18px !important; }
    .p-t-xs { padding-top: 1em; } .p-t-md { padding-top: 3em; }
    .pad-mobile { margin-bottom: 12vh !important; }
    .meta-container { margin: 20px 10px 20px 0 !important; }
    .p-t-about { top: 170px }
    .p-b-card { margin-top: 0 !important; }
    .pad-mobile-md { margin-bottom: 6vh !important; }
    .download-cv { margin-bottom: 2em; }
    #intro h1.text-hero{font-size: 120px !important; margin-bottom:0; margin-top:0;}
    .content-item-topic {top: -5vw !important; left: -2vw !important;}
    .content-item:nth-child(even) .content-item-topic {top: -5vw !important; right: -5vw !important;}
    #footer-left {text-align: center !important;}
    #footer-right {text-align: center !important;}
}

@media only screen and (max-width: 360px) {
    #intro h1.text-hero{font-size: 80px !important;}
    #footer-left {text-align: center !important;}
    #footer-right {text-align: center !important;}
}

/* Animation section ------------------------------------------------------------------------------------------------ */
/* Wave hand animation BEGIN */
span.wave {
    margin-right: 3px;
    animation-name: wave-animation;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    transform-origin: 70% 70%;
    display: inline-block
}

@keyframes wave-animation {
    0% {transform: rotate(0)}
    10% {transform: rotate(-10deg)}
    20% {transform: rotate(12deg)}
    30% {transform: rotate(-10deg)}
    40% {transform: rotate(9deg)}
    50% {transform: rotate(0)}
    100% {transform: rotate(0)}
}
/* Wave hand animation END */

/* 'primary' container styles BEGIN */
#primary {background-color:#000; color:#fff; margin-top:4em; margin-bottom:4em; padding-top:4em; padding-bottom:4em}
#primary a{color:#fff !important}
#primary a:hover{text-decoration:none}

.content-item {margin-bottom: 5vh;}
.content-item-topic {opacity: 0.3; font-size: 10vw;  position: relative; top: -3vw; left: -5vw; line-height: 1;}
.content-item:nth-child(even) .content-item-topic {top: -3vw; right: -5vw; left: auto; text-align: right}
/* 'primary' container styles END */

.content-item-img img {width: 100%; opacity: 0.9}

#footer-left img {width: 18%;}
#footer-left {text-align: left;}
#footer-center {text-align: center;}
#footer-right {text-align: right;}

/*.content-item-img {*/
/*    position: absolute;*/
/*    background-size: auto;*/
/*    background-position: 50% 0%;*/
/*    opacity: 0.8*/
/*}*/




/*https://getbootstrap.com/docs/4.0/layout/grid/*/
/* scroll parallax */
/*
.scroll {--aspect-ratio: 32/17;--size-title: 15vw;}
.content {grid-area: grid;margin: 10vh 0 0 0;background-color: #000;outline: 0;}
.content--offset {display: grid;grid-template-columns: repeat(2, minmax(100px, 1fr));grid-gap: 30vh 10vw;}
.content--full {width: 100vw;justify-self: center;}
.content__item {--imgwidth: calc(var(--imgwidthmax) * var(--aspect-ratio));width: var(--imgwidth);position: relative;will-change: transform;margin-bottom: 20vh;display: grid;grid-template-columns: 50% 50%;}
.content__item--wide {grid-template-columns: 40% 60%;}.content__item--wide:nth-child(even) {grid-template-columns: 60% 40%;}
.content--center .content__item {margin: 0 auto 60vh;}
.content__item--expand {width: 100%;grid-template-columns: minmax(0, var(--imgwidth)) 1fr;}
.content__item--expand:nth-child(even) {grid-template-columns: 1fr minmax(0, var(--imgwidth));}
.content--alternate .content__item {max-width: 90vw;}
.content--offset .content__item {margin: 0 auto 15vh;}
.content--offset .content__item:nth-child(even) {align-self: end;margin-bottom: -20vh;}
.content--alternate .content__item:nth-child(even) {margin-left: auto;}
.content__item-imgwrap {position: relative;--imgwidth: 100%;margin: 0 auto;grid-area: 1 / 1 / 3 / 3;overflow: hidden;width: var(--imgwidth);padding-bottom: calc(var(--imgwidth) / (var(--aspect-ratio)));will-change: transform;}
.content__item-imgwrap-medium {height: 440px;}
.content__item-imgwrap-portrait {height: 620px;}
.content__item-imgwrap-large {height: 673px;}
.content__item--expand .content__item-imgwrap {grid-area: 1 / 1 / 3 / 2;}
.content__item--expand:nth-child(even) .content__item-imgwrap {grid-area: 1 / 2 / 3 / 3;justify-self: end;}
.content__item-img {--overflow: 0px;height: calc(100% + (2 * var(--overflow)));top: calc( -1 * var(--overflow));width: 100%;position: absolute;background-size: cover;background-position: 50% 0%;will-change: transform;opacity: 0.8;}
.content__item-number {opacity: 0.03;font-size: 25vw;position: absolute;top: -7vw;right: -10vw;line-height: 1;}
.content__item:nth-child(even) .content__item-number {right: auto;left: -7vw;}
.content__item-title {position: relative;font-size: 60pt;padding: 0 3vw;align-self: start;line-height: 1;font-family: var(--font-title);font-weight: var(--font-weight-title);color: var(--color-title);will-change: transform;mix-blend-mode: var(--blendmode-title);}
.line:before {content: "— ";}
.content--center .content__item-title {grid-area: 1 / 1 / 3 / 3;margin: auto;}
.content__item-title--layer {padding: 0;z-index: 10;grid-area: 1 / 1 / 2 / 3;width: 100%;text-align: center;}
.content__item-description {grid-area: 3 / 1 / 3 / 3;width: 100%;position: relative;margin: 0;padding: 2rem 0 0 0;color: var(--color-description);}
.content--alternate .content__item-title, .content__item--wide:nth-child(even) .content__item-description {grid-area: 3 / 1 / 4 / 2;justify-self: start;}
.content--alternate .content__item:nth-child(even) .content__item-title, .content__item--wide .content__item-description {grid-area: 3 / 2 / 4 / 3;justify-self: end;width: auto;}
.content__item--expand .content__item-description {grid-area: 1 / 2 / 3 / 3;justify-self: start;align-self: start;padding: 0 2rem;width: 250px;font-size: 0.9rem;}
.content__item--expand:nth-child(even)
.content__item-description {grid-area: 1 / 1 / 3 / 2;justify-self: end;text-align: right;}

@media screen and (max-width: 40em) {.content__item--expand .content__item-imgwrap, .content__item--expand:nth-child(even) .content__item-imgwrap {grid-area: 1 / 1 / 3 / 3;}.content__item--expand .content__item-description, .content__item--expand:nth-child(even) .content__item-description, .content__item--wide .content__item-description, .content__item--wide:nth-child(even) .content__item-description {grid-area: 3 / 1 / 4 / 3;padding: 1rem 0;width: 100%;text-align: left;}.content__item--wide .content__item-description {padding: 1rem;}.content--alternate .content__item-title, .content--alternate .content__item:nth-child(even) .content__item-title {grid-area: 1 / 1 / 4 / 2;}}
*/
